---
import MainLayout from "../layouts/MainLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "My Blog";
---

<MainLayout pageTitle={pageTitle}>
  <h1>{pageTitle} / <a href="/"> Homepage</a></h1>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.published.toString().slice(0, 10)}: {post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</MainLayout>
