---
const Navigation = [
  {
    title: "News",
    data: "news",
  },
  {
    title: "Publications",
    data: "publications",
  },
  {
    title: "Educations",
    data: "educations",
  },
  {
    title: "Teaching",
    data: "teaching",
  },
  {
    title: "Honors and Awards",
    data: "honors-and-awards",
  },
];
---

<nav class="navigation h-14">
  <div class="mx-auto max-w-[1300px] h-full flex items-center">
    <ul class="flex items-center">
      <li>
        <a
          href="/"
          class="nav-link font-bold mr-10 text-gray-100"
          data-target="home">Homepage</a
        >
      </li>
      {
        Navigation.map((item) => (
          <li>
            <a data-target={item.data} class="nav-link cursor-pointer ">
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  .navigation {
    background-color: white;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1000;
    padding: 0; /* 仅设置左右内边距 */
  }

  .navigation ul {
    list-style-type: none;
    display: flex;
    padding: 0; /* 移除内边距 */
    margin: 0; /* 移除外边距 */
  }

  .navigation li {
    margin: 0 15px;
  }

  .nav-link {
    color: #4b5563;
    text-decoration: none;
  }

  .nav-link:hover {
    color: #000;
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
    .navigation li {
      margin: 0 10px;
    }
  }
</style>
