
<aside class="sidebar">
    <div class="info">
        <img class="avatar" src="/xsfeng.jpg" />
        <h2>Xinsong Feng <br> 冯欣淞</h2>
        <p>Msc in ECE</p>
    </div>

    <li>Los Angeles</li>
    <li><a href="https://github.com/xfeng01">Github</a></li>
    <li><a href="mailto:xsfeng@g.ucla.com">Email</a></li>
    <li><a href="https://scholar.google.com/citations?hl=en&user=664D7CoAAAAJ"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
</aside>

<style>
    .sidebar {
        width: 300px;
    }

    .info {
        text-align: center;
    }

    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }

</style>