<aside class="md:w-[200px] md:fixed h-full bg-white max-md:mt-14 ">
  <div class="text-center">
    <img class="w-[150px] h-[150px] rounded-full mx-auto" src="/xsfeng.jpg" />
    <h2 class="mt-4">Xinsong Feng <br /> 冯欣淞</h2>
    <p class="text-gray-700">Msc in ECE</p>
  </div>

  <ul class="max-md:grid grid-cols-2">
    <li>
      <div class="icon-column"><i class="fas fa-map-marker-alt"></i></div>
      <div class="text-column">Los Angeles</div>
    </li>
    <li>
      <div class="icon-column"><i class="fas fa-envelope"></i></div>
      <div class="text-column">
        <a href="mailto:xsfeng@g.ucla.com">Email</a>
      </div>
    </li>
    <li>
      <div class="icon-column"><i class="fab fa-github"></i></div>
      <div class="text-column">
        <a href="https://github.com/xfeng01">Github</a>
      </div>
    </li>
    <li>
      <div class="icon-column"><i class="fas fa-graduation-cap"></i></div>
      <div class="text-column">
        <a href="https://scholar.google.com/citations?hl=en&user=664D7CoAAAAJ"
          >Google Scholar</a
        >
      </div>
    </li>
  </ul>
</aside>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  .icon-column {
    width: 30px; /* 设置图标列宽度 */
    display: flex;
    justify-content: center; /* 居中图标 */
  }
  .text-column {
    flex-grow: 1; /* 文本列占据剩余空间 */
  }
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
