<aside class="w-[200px]">
  <div class="text-center">
    <img class="w-[150px] h-[150px] rounded-full mx-auto" src="/xsfeng.jpg" />
    <h2 class="mt-4">Xinsong Feng <br /> 冯欣淞</h2>
    <p class="text-gray-700">Msc in ECE</p>
  </div>

  <li>Los Angeles</li>
  <li><a href="mailto:xsfeng@g.ucla.com">Email</a></li>
  <li><a href="https://github.com/xfeng01">Github</a></li>
  <li>
    <a href="https://scholar.google.com/citations?hl=en&user=664D7CoAAAAJ"
      ><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a
    >
  </li>
</aside>

