---
import { getCollection } from "astro:content";

const allPapers = await getCollection("papers");
const tags = new Set();

// 收集所有标签
allPapers.forEach((paper) => {
  paper.data.tags.forEach((tag) => {
    tags.add(tag);
  });
});
---

<div class="bg-white shadow-lg rounded-xl md:p-4 p-2 max-md:mt-2">
  <ul class="list-none flex flex-wrap justify-center">
    <li></li>
    {
      Array.from(tags).map((tag) => (
        <li class="m-2 md:m-4">
          <a
            href={`/paper/tags/${tag}`}
            class="text-gray-600 font-semibold py-2 px-3 rounded-full hover:text-gray-900 hover:bg-gray-100 text-sm md:text-base"
          >
            #{tag}
          </a>
        </li>
      ))
    }
  </ul>
</div>
