<aside
  class="md:w-[220px] md:fixed bg-white max-md:mt-0 shadow-md rounded-lg border-0 px-0 text-sm"
>
  <ul
    data-blog-toc
    class="sticky leading-5 top-0 bg-white p-4 list-none text-left px-0 mx-4"
  >
    <li class="text-lg font-semibold mb-2">Contents</li>
    <div class="text-red">
      <div class="toc_container text-xxl"></div>
    </div>
  </ul>
</aside>

<style>
  .toc_container {
    overflow-y: auto;
    max-height: 500px;
    scrollbar-width: thin;
    -ms-overflow-style: auto;
  }

  .toc_container::-webkit-scrollbar {
    width: 12px;
  }

  .toc_container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .toc_container::-webkit-scrollbar-thumb {
    background: #888;
  }

  .toc_container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .toc_container a {
    display: block;
    padding: 10px;
    color: #337ab7;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }

  .toc_container a:hover {
    background-color: #f5f5f5;
    text-decoration: underline;
  }
</style>

<script>
  import * as tocbot from "tocbot";

  tocbot.init({
    tocSelector: ".toc_container",
    contentSelector: ".markdown-body",
    headingSelector: "h2",
    hasInnerContainers: true,
    headingsOffset: 80,
    scrollSmoothOffset: -80,
    scrollSmoothDuration: 200,
  });

  tocbot.refresh();
</script>

<script>
  const setCurrent: IntersectionObserverCallback = (entries) => {
    for (let entry of entries) {
      const { id } = entry.target;
      const tocHeadingEl = document.querySelector(
        `[data-blog-toc] a[href="#${id}"]`
      );
      if (!tocHeadingEl) return;
      if (entry.isIntersecting) {
        document
          .querySelectorAll("[data-blog-toc] a")
          .forEach((e) => e.classList.remove("active"));
        tocHeadingEl.classList.add("active");
      }
    }
  };

  const observerOption: IntersectionObserverInit = {
    root: null,
    rootMargin: "0px 0px -180px",
    threshold: 1.0,
  };
  const headingObserver = new IntersectionObserver(setCurrent, observerOption);
  document
    .querySelectorAll("article :is(h2)")
    .forEach((heading) => headingObserver.observe(heading));
</script>
