---
import MainLayout from "./MainLayout.astro";
import "/node_modules/katex/dist/katex.min.css";
const { frontmatter } = Astro.props;
---

<MainLayout pageTitle={frontmatter.title}>
  <h1 class="text-3xl">{frontmatter.title}</h1>
  <hr class="my-4" />
  <slot />
</MainLayout>


