---
import MainLayout from "./MainLayout.astro";
import "/node_modules/katex/dist/katex.min.css";
const { frontmatter } = Astro.props;
---

<MainLayout>
  <div class="BlogContent">
    <h1 class="text-3xl">{frontmatter.title}</h1>
    <hr class="my-4" />
    <slot />
  </div>
</MainLayout>

<style>
  .BlogContent h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
</style>