---
import MainLayout from "./MainLayout.astro";
import "/node_modules/katex/dist/katex.min.css";
const { frontmatter } = Astro.props;
---

<MainLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <hr />
  <slot />
</MainLayout>


