---
import BasicLayout from "./BasicLayout.astro";
import Toc from "src/components//Toc.astro";
import BackToTop from "../components/BackToTop.astro";

const { headings = [] } = Astro.props;
---

<BasicLayout>
  <main class="relative max-w-[1200px] mx-auto px-2">
    <div class="flex relative gap-6 py-6">
      <!-- 左侧TOC -->
      <aside class="hidden lg:block sticky top-20 w-56 h-fit">
        <h2 class="text-lg font-bold mb-3 text-gray-800">Contents</h2>
        <Toc headings={headings} />
      </aside>

      <!-- 主要内容 -->
      <article class="flex-1 min-w-0 ">
        <slot />
      </article>

      <BackToTop />
    </div>
  </main>
</BasicLayout>
